<section class="hero">
    <img src="<%= asset_path('bordeaux.jpeg') %>" alt="Bordeaux" class="hero__image">
  <div class="hero__card">
    <h2 class="hero__title">Explore BDX, outil à découvrir</h2>
    <p class="hero__text">
      L'outil qui permet de trouver en un clin d'œil une activité qui répond à tes envies !
    </p>
    <button class="hero__button">C’EST PARTI !</button>
  </div>
</section>

<% moods = {
  "Nature"   => "moods/nature.jpg",
  "Creatif"  => "moods/creatif.jpg",
  "Festif"   => "moods/festif.jpg",
  "Foodies"  => "moods/foodies.jpg",
  "Culturel" => "moods/culturel.jpg",
  "Chill"    => "moods/chill.jpg"
} %>

<% budgets = {
  "Gratuit"               => "budget/Gratuit.jpg",
  "Entre_0_et_40_euros"   => "budget/Entre_0_et_40_euros.jpg",
  "Plus_de_40_euros"      => "budget/Plus_de_40_euros.jpg"
} %>

<%= form_with url: events_path, method: :get, class: "filters-form" do %>

  <!-- MOODS -->
    <h2 class="filters-title-mood">Choisis ton mood</h2>
    <p class="filters-subtitle-moods">“Sélectionne ton humeur du moment, on adapte nos suggestions.”</p>
<section class="mood-section">
    <div class="mood-grid">
      <% moods.each do |tag, img| %>
        <% id = "tag_#{tag.parameterize}" %>
        <input type="checkbox"
               name="tags"
               value="<%= tag %>"
               id="<%= id %>"
               class="mood-check">

        <label for="<%= id %>" class="mood-card" style="--photo: url('<%= asset_path(img) %>')">
          <span class="mood-card__photo"></span>
          <span class="mood-card__title"><%= tag %></span>
        </label>
      <% end %>
    </div>
  </section>

  <!-- BUDGET -->
    <h2 class="filters-title-budget">Choisis ton budget</h2>
    <p class="filters-subtitle-budget">“Ton portefeuille aussi a son mot à dire 😉.”</p>
  <section class="budget-section">
    <div class="budget-grid">
      <% budgets.each do |label, img| %>
        <% id = "budget_#{label.parameterize}" %>
        <input type="radio"
               name="budget"
               value="<%= label %>"
               id="<%= id %>"
               class="budget-input">

        <label for="<%= id %>" class="budget-card">
          <%= image_tag img, class: "budget-card__photo", alt: label %>
          <span class="budget-card__title">
            <%= label.gsub("_", " ").gsub("euros","€") %>
          </span>
        </label>
      <% end %>
    </div>
  </section>

    <h2 class="localisation__title">Choisis ta localisation</h2>
    <section class="localisation">
      <div class="container">
        <div style="text-align: center;">
          <input type="range" name="location" min="10" max="30" step="10" value="20" class="localisation__range">
          <div class="localisation__labels">
            <span>10 km</span>
            <span>20 km</span>
            <span>30 km</span>
          </div>

      </div>
    </div>
    </section>
    <section class="choose-date">
  <div class="container">
    <h2 class="choose-date__title">Choisis ta date</h2>
    <p class="choose-date__subtitle">Sélectionne le moment qui correspond à tes disponibilités.</p>
    <p class="choose-date__subtitle--extra">Tu peux choisir le début et la fin de ton expérience.</p>

    <div class="choose-date__form">
      <div class="choose-date__fields">
        <div class="choose-date__field">
          <label for="start_date">Date de début</label>
          <input type="date" id="start_date" name="start_date" placeholder="Sélectionne une date">
        </div>

        <div class="choose-date__field">
          <label for="end_date">Date de fin</label>
          <input type="date" id="end_date" name="end_date" placeholder="Sélectionne une date">
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- SUBMIT -->
<div class="filters-actions d-flex justify-content-center">
  <%= submit_tag "RECHERCHER UN ÉVÈNEMENT!", class: "btn-custom" %>
</div>
<% end %>





    <%# <%= form_with url: events_path, method: :get, class: "d-flex mx-3 gap-3" do %>
      <%# <%= check_box_tag "tags[]", "Nature", class: "btn-check", id:"tag_nature" %>
      <%# <%= label_tag "tag_nature", "Nature", class: "btn btn-outline-success" %>

      <%# <%= check_box_tag "tags[]", "Festif", class: "btn-check", id:"tag_festif" %>
      <%# <%= label_tag "tag_festif", "Festif", class: "btn btn-outline-danger" %>

      <%# <%= check_box_tag "tags[]", "Creatif", class: "btn-check", id:"tag_creatif" %>
      <%# <%= label_tag "tag_creatif", "Creatif", class: "btn btn-outline-warning" %>

      <%# <%= check_box_tag "tags[]", "Foodies", class: "btn-check", id:"tag_foodies" %>
      <%# <%= label_tag "tag_foodies", "Foodies", class: "btn btn-outline-info" %>

      <%# <%= check_box_tag "tags[]", "Culturel", class: "btn-check", id:"tag_culturel" %>
      <%# <%= label_tag "tag_culturel", "Culturel", class: "btn btn-outline-secondary" %>
  <%# </div> %>

      <%# <%= check_box_tag "tags[]", "Gratuit", class: "btn-check", id:"tag_gratuit" %>
      <%# <%= label_tag "tag_gratuit", "Gratuit", class: "btn btn-outline-warning" %>

      <%# <%= check_box_tag "tags[]", "Entre 0 et 40 euros", class: "btn-check", id:"tag_middle" %>
      <%# <%= label_tag "tag_middle", "Entre 0 et 40 euros", class: "btn btn-outline-warning" %>

      <%# <%= check_box_tag "tags[]", "Plus de 40 euros", class: "btn-check", id:"tag_expensive" %>
      <%# <%= label_tag "tag_expensive", "Plus de 40 euros", class: "btn btn-outline-warning" %>
    <%# <div class="justify-content-center align-items-center col-sm-5 mt-4"> %>
      <%# <%= submit_tag "Rechercher", name: "", class: "btn btn-primary" %>
   <%# <% end %>
    </div>
</div>



<section class="testimonials">
  <div class="container">
    <h2 class="testimonials__title">Ce que nos utilisateurs disent de nous</h2>

    <div class="testimonials__slider">
      <!-- Témoignage 1 -->
      <div class="testimonial">
        <div class="testimonial__avatar">
          <%= image_tag("estelle.jpg", alt:"Estelle Tuduri", class:"avatar-img") %>
        </div>
        <div class="testimonial__content">
          <span class="testimonial__name">Estelle Tuduri</span>
          <span class="testimonial__role">Cheffe de projet</span>
          <p class="testimonial__text">"L’interface est claire et rapide, ça change tout. Les résultats sont vraiment pertinents, on sent qu’il y a une vraie sélection derrière."</p>
        </div>
      </div>

      <!-- Témoignage 2 -->
      <div class="testimonial">
        <div class="testimonial__avatar">
          <img src="/assets/alexia.jpg" alt="Alexia Pierens" class="avatar-img">
        </div>
        <div class="testimonial__content">
          <span class="testimonial__name">Alexia Pierens</span>
          <span class="testimonial__role">Étudiante</span>
          <p class="testimonial__text">“J’ai redécouvert Bordeaux grâce aux pépites locales recommandées. Ça m’a fait sortir de ma routine restos-bars pour tester des trucs vraiment uniques.”</p>
        </div>
      </div>

      <!-- Témoignage 3 -->
      <div class="testimonial">
        <div class="testimonial__avatar">
          <img src="/assets/aurelien.jpg" alt="Aurélien Ellena" class="avatar-img">
        </div>
        <div class="testimonial__content">
          <span class="testimonial__name">Aurélien Ellena</span>
          <span class="testimonial__role">Développeur Front-end</span>
          <p class="testimonial__text">“Design soigné, infos utiles, pas de blabla. C’est devenu mon réflexe pour décider quoi faire à Bordeaux, même au dernier moment.”</p>
        </div>
      </div>
    </div>
  </div>
</section>
